[build]
builder = "nixpacks"

[deploy]
startCommand = "node db/migrate.js up && node index.js"
healthcheckPath = "/health"
healthcheckTimeout = 60
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
